<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="pushkin" class="by.itacademy.gpisarev.spring.models.Author">
        <constructor-arg name="id" value="1"/>
        <constructor-arg name="firstName" value="Александр"/>
        <constructor-arg index="2" value="Пушкин"/>
        <constructor-arg index="3" value="Сергеевич"/>
    </bean>

    <bean id="lermontov" class="by.itacademy.gpisarev.spring.models.Author">
        <property name="id" value="2"/>
        <property name="firstName" value="Михаил"/>
        <property name="lastName" value="Лермонтов"/>
        <property name="patronymic" value="Юрьевич"/>
    </bean>

    <bean id="book" class="by.itacademy.gpisarev.spring.models.Type" c:id="1" c:name="Книга"/>
    <bean id="magazine" class="by.itacademy.gpisarev.spring.models.Type" p:id="2" p:name="Журнал"/>
    <bean id="diary" class="by.itacademy.gpisarev.spring.models.Type" c:id="3" p:name="Дневник"/>

    <bean id="firstPushkinBook" class="by.itacademy.gpisarev.spring.models.PrintedProduct"
        c:id="1" c:name="Первая книга Пушкина" c:type-ref="book">
        <property name="authors">
            <set>
                <ref bean="pushkin"/>
            </set>
        </property>
    </bean>

</beans>